.Post{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    border: 1px solid #000;
    border-radius: 8px;
    margin: 2rem auto;
}

.PostImage{
    width: 50%;
    border-radius: 8px;
}